:root {
    --el-lightblue: #E2F4FF;
    --el-orange: #EDA415;
    --el-darkblue: #003F62;
    --el-middleblue: #1B5A7D;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

.body-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1330px;
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    width: 100%;
    height: auto;
}

