.footer-menu-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 5rem;
    padding: 1rem 0;
}

@media (max-width: 1219.99px) {
    .footer-menu-container {
        gap: 3rem;
    }
}

@media (max-width: 849.99px) {
    .footer-menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.footer-menu-one-block {
    display: block;
}

.footer-menu-one-block img{
    padding-bottom: 1.5rem;
}

#icon-logo-blue {
    width: auto;
}

.one-block-text1 {
    padding-top: 1.5rem;
    color: var(--el-middleblue);
}

.one-block-text2 {
    padding-bottom: 1rem;
    color: var(--el-middleblue);
}

hr {
    width: auto;
    color: #3B3B3B;
}

.one-block-second-part {
    display: flex;
}

.one-block-second-part-icons {
    display: flex;
    gap: 1.5rem;
}

.footer-menu-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13.5rem;
    padding: 1.5rem 1rem;
    color: var(--el-middleblue);
    line-height: 2.5rem;
}

@media (max-width: 1219.99px) {
    .footer-menu-lists {
        gap: 10rem;
    }
}

@media (max-width: 1109.99px) {
    .footer-menu-lists {
        gap: 8rem;
    }
}

@media (max-width: 1009.99px) {
    .footer-menu-lists {
        gap: 5rem;
    }
}

@media (max-width: 909.99px) {
    .footer-menu-lists {
        gap: 3rem;
    }
}

@media (max-width: 669.99px) {
    .footer-menu-lists {
        flex-wrap: wrap;
    }
}

.second-block-title, .third-block-title, .fourth-block-title {
    font-size: 19px;
    font-weight: 700;
    color: var(--el-middleblue);
    padding-left: 1.2rem;
}

.second-block-list, .third-block-list, .fourth-block-list {
    padding-left: 1.2rem;
}

ul {
    list-style: none;
}

ul li::before{
    content: "\2022";
    color: #D9D9D9;
    font-weight: 700;
    display: inline-block;
    width: 1rem;
}

