.card-cart-item {
    padding: 1.5rem 0.5rem;
    border: solid thin #A5A5A5;
    border-radius: 1.2rem;
}

.card-cart-header {
    margin-bottom: 3rem;
}

.card-cart-details {
    display: none;
    justify-content: space-between;
    align-items: center;
    min-height: 91px;
}

@media (max-width: 1309.99px) {
    .card-cart-details {
        justify-content: center;
        gap: 1rem;
    }
}

.details-left {
    background-color: #87BCD9;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}


#icon-shopping-cart {
    width: auto;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--el-orange);
}

.cart-text {
    font-size: 1rem;
    font-weight: 700;
    color: #272727;
}


#icon-eye {
    width: auto;
    padding: 0.85rem;
    border-radius: 1rem;
    background-color: #87BCD9;
}