.page-banner-container {
    display: grid;
    grid-template-columns: auto;
    object-fit: cover;
    background-image: url("../../assets/images/background-image.png");
    background-size: cover;
    border-radius: 1.2rem;
    margin-bottom: 4rem;
}

.banner-details {
    text-align: center;
    padding: 6rem 0 2rem 40rem;
}

@media (max-width: 1119.99px) {
    .banner-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 3rem;
    }
}

@media (max-width: 769.99px) {
    .banner-details {
        padding: 10rem 7rem;
    }
}

@media (max-width: 469.99px) {
    .banner-details {
        padding: 10rem 3rem;
    }
}

.button-banner {
    margin-bottom: 2rem;
}

.button-up, .button-bottom  {
    background-color: var(--el-orange);
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
}

@media (max-width: 769.99px) {
    .button-up, .button-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.button-bottom {
    padding: 0.5rem 1.5rem;
}

@media (max-width: 769.99px) {
    .banner-texts {
        gap: 12rem;
    }
}


.text-title {
    font-size: 2.5rem;
    color: #2E8FC5;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media (max-width: 1119.99px) {
    .text-title {
        display: flex;
        flex-wrap: wrap;
    }
}

.text-detail {
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
}