.footer-banner-container {
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 2rem 5.5rem;
    grid-gap: 6rem;
}

@media (max-width: 1279.99px){
    .footer-banner-container {
        padding: 2rem 1.5rem;
    }
}

@media (max-width: 1159.99px){
    .footer-banner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1rem;
    }
}

.footer-banner-left {
    font-size: 30px;
    font-weight: 700;
    color: #1B5A7D;
}

@media (max-width: 389.99px) {
    .footer-banner-left {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
    }
}

.footer-banner-right {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

@media (max-width: 1159.99px) {
    .footer-banner-right {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
}

.footer-banner-left-email-box {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    background-color: var(--el-orange);
    border-radius: 1.5rem;
    width: 100%;
    max-width: 390px;
}

@media (max-width: 389.99px){
    .footer-banner-left-email-box {
        max-width: 380px;
        gap: 0.5rem;
    }
}

.footer-subscribe-email-input {
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem;
    margin: 0;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--el-orange);
    outline: none;
    caret-color: white;
    color: white;
}

@media (max-width: 389.99px) {
    .footer-subscribe-email-input {
        padding-right: 0.5rem;
        font-size: 0.8rem;
    }
}

.footer-subscribe-email-input::placeholder {
    color: white;
}

.footer-banner-left-email-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--el-orange);
    padding-right: 1rem;
}

@media (max-width: 389.99px) {
    .footer-banner-left-email-box button {
        padding-right: 0.5rem;
    }
}

.footer-banner-call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-weight: 500;
    font-size: 0.875rem;
}

@media (max-width: 389.99px) {
    .footer-banner-call {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.footer-banner-right-item2 {
    flex-shrink: 0;
}

@media (max-width: 389.99px) {
    .footer-banner-right-item2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}