.main-cards-container {
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;
    gap: 1rem;
}

@media(max-width: 1139.99px) {
    .main-cards-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.main-card-item {
    display: flex;
    border: solid thin #A5A5A5;
    border-radius: 1.2rem;
    gap: 2.5rem;
    padding: 2rem 1rem;
}

@media(max-width: 1249.99px) {
    .main-card-item {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

@media(max-width: 429.99px) {
    .main-card-item {
        padding: 0 0 2rem 0;
    }
}

.main-cards-left {
    display: flex;
    border: solid thin #A5A5A5;
    border-radius: 1.2rem;
    align-items: center;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

@media(max-width: 809.99px) {
    .main-cards-left{
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media(max-width: 429.99px) {
    .main-cards-left{
        padding: 0 0 2rem 0;
    }
}

.main-card-title {
    font-size: 1.3rem;
    color: var(--el-middleblue);
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.card-numbers {
    display: flex;
    gap: 0.5rem;
    margin: 2rem 0 0 0;
}

@media (max-width: 429.99px) {
    .card-numbers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2F4FF;
    color: var(--el-orange);
    font-weight: 700;
    font-size: 1.375rem;
    padding: 2.5rem;
    border-radius: 50%;
}

.middle-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 25rem;
}

@media(max-width: 809.99px){
    .middle-part {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

.main-card-cart-details {
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
}

@media (max-width: 429.99px) {
    .main-card-cart-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main-cards-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-head {
    padding-bottom: 2rem;
}

.card-details {
    align-items: center;
    min-height: 91px;
}

@media(max-width: 1249.99px) {
    .card-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;
        flex-direction: column;
    }
}

#main-product, #main-product-small {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 809.99px) {
    .product-details-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 419.99px) {
    .image-part {
        height: auto;
        width: auto;
    }
}