.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.carousel-product-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

@media (max-width: 1149.99px) {
    .carousel-product-items {
        flex-wrap: wrap;
    }
}

.carousel-product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 2rem 1.5rem 3rem;
    border: solid #A5A5A5 thin;
    border-radius: 1.2rem;
    line-height: 2.5rem;
}

@media (max-width: 419.99px) {
    .carousel-product-item {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.carousel-arrow {
    width: 2rem;
    background-color: #EAEAEA;
    border-radius: 50%;
    padding: 0.25rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-arrow-left {
    left: -1rem;
    transform: rotate(180deg);
}

.carousel-arrow-right {
    right: -1rem;
}

.product-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--el-middleblue);
}

.product-counter {
    font-size: 1rem;
    font-weight: 500;
    color: #265F7F;
}

#carousel-product1, #carousel-product2, #carousel-product3 {
    width: auto;
}