.top-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}


@media (max-width: 804.99px) {
    .top-bar-container {
        padding-right: 1rem;
        padding-left: 1rem;
        justify-content: center;
    }
}

@media (max-width: 694.99px) {
    .top-bar-container {
        justify-content: center;
    }
}

.top-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}



.top-bar-left-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media(max-width: 379.99px) {
    .top-bar-left-item {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 355.99px) {
    .top-bar-left-item {
        gap: 0.5rem;
    }
}

@media (max-width: 347.99px) {
    .top-bar-left-item {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.top-bar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

@media (max-width: 379.99px) {
    .top-bar-right {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.top-bar-right-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#icon-location, #icon-shipping {
    width: auto;
}