.search-bar {
    background-color: var(--el-darkblue);
    color: white;
}

.search-bar-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 1.5rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}

@media (max-width: 971.99px) {
    .search-bar-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.search-bar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 663px;
    gap: 1.5rem;
}

@media (max-width: 699.99px) {
    .search-bar-left {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.search-box {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    background-color: white;
    border-radius: 20px;
    gap: 1rem;
    width: 100%;
    max-width: 438px;
    padding-left: 20px;
}

@media (max-width: 419.99px) {
    .search-box {
        padding-left: 0.5rem;
        gap: 0.5rem;
    }
}

.search-box-input {
    padding: 0.5rem;
    border: none;
    width: 100%;
    outline: none;
    caret-color: #3A3A3A;
    color: #3A3A3A;
}

.search-box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--el-orange);
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    padding: 1rem 2.5rem;
}

@media (max-width: 419.99px) {
    .search-box-button {
        padding: 1rem;
    }
}

.search-bar-right {
    display: flex;
    gap: 2rem;
}

@media (max-width: 419.99px) {
    .search-bar-right {
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 358.99px) {
    .search-bar-right {
        justify-content: center;
    }
}

.search-bar-right-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 419.99px) {
    .search-bar-right-item {
        gap: 0.5rem;
    }
}

.search-bar-right-item-counter {
    display: flex;
    align-items: center;
    gap: 3px;
}

.icon-counter {
    background-color: var(--el-orange);
    border-radius: 8px;
    font-size: 10px;
    line-height: 1;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
}

#icon-user, #icon-heart, #icon-cart {
    width: auto;
}
