.nav-bar{
    background-color: #F4F4F4;
}

.nav-bar-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 1rem;
}

@media (max-width: 982.99px) {
    .nav-bar-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 804.99px) {
    .nav-bar-container {
        width: 100%;
    }
}

.nav-bar-left {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: center;
}

@media (max-width: 1078.99px) {
    .nav-bar-left {
        gap: 1rem;
    }
}

@media (max-width: 804.99px) {
    .nav-bar-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav-bar-left-item-categories {
    padding: 1.5rem 1rem;
    background-color: var(--el-orange);
    color: white;
}

@media (max-width: 1078.99px) {
    .nav-bar-left-item-categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}

#icon-arrow-down-white {
    width: auto;
}

.nav-bar-left-item-menu{
    padding-left: 6rem;
    width: 100%;
}

@media (max-width: 1066.99px) {
    .nav-bar-left-item-menu {
        padding-left: 1rem;
    }
}

@media (max-width: 9866.99px) {
    .nav-bar-left-item-menu {
        padding-left: 0.5rem;
    }
}

@media (max-width: 804.99px) {
    .nav-bar-left-item-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav-bar-left-item-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1rem;
    font-weight: 500;
}

@media (max-width: 579.99px) {
    .nav-bar-left-item-menu-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav-bar-left-item-menu-list1, .nav-bar-left-item-menu-list2, .nav-bar-left-item-menu-list3, .nav-bar-left-item-menu-list4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 978.99px) {
    .nav-bar-right {
        padding-bottom: 1rem;
    }
}

.nav-bar-right {
    font-weight: 700;
    color: var(--el-darkblue);
}


