.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem 0 10rem ;
    flex-wrap: wrap;
}

@media (max-width: 889.99px) {
    .header-container {
        justify-content: center;
        gap: 3rem;
        padding: 2rem 3rem 0 3rem;
    }
}

@media (max-width: 439.99px) {
    .header-container {
        padding: 2rem 0 0 0;
    }
}

.header-info {
    max-width: 310px;
    width: 100%;
    display: grid;
    grid-gap: 1.5rem;
}

.header-info-title {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 4rem;
    color: var(--el-middleblue);
}

@media (max-width: 889.99px){
    .header-info-title {
        text-align: center;
    }
}

.header-info-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 359.99px) {
    .header-info-buttons {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.button-orange {
    border-radius: 1.2rem;
    border: none;
    background-color: var(--el-orange);
    color: white;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    font-weight: 500;
}

.button-colorless {
    border-radius: 1.2rem;
    border-style: solid;
    border-color: #316887;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    font-weight: 700;
    color: #316887;
    background-color: white;
}

#icon-ellipse1, #icon-ellipse2, #icon-ellipse3 {
    width: auto;
}

.header-image {
    position: relative;
}

.price-tag {
    position: absolute;
    bottom: 50px;
    right: -70px;
    left: 240px;
    width: 120px;
    height: 120px;
    background-color: var(--el-orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 409.99px) {
    .price-tag {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 359.99px) {
    .price-tag {
        width: 60px;
        height: 60px;
        left: 220px;
    }
}

.price-tag-text,
.price-tag-price {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: white;
}

@media (max-width: 409.99px) {
    .price-tag-text,
    .price-tag-price {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 359.99px) {
    .price-tag {
        font-size: 0.3rem;
        line-height: 1rem;
    }
}