.product-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4rem 0;
}

@media (max-width: 869.99px) {
    .product-list-container {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}

.popular-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--el-middleblue);
}

.popular-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.2rem;
    color: var(--el-middleblue);
    font-weight: 500;
}

@media (max-width: 729.99px) {
    .popular-categories {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.categories-items {
    border: solid #A5A5A5 thin;
    border-radius: 1.3rem;
    padding: 0.5rem 2.5rem;
}