.product-cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5rem;
}

@media (max-width: 1309.99px) {
    .product-cards-container {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 869.99px) {
    .product-cards-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 789.99px) {
    .product-cards-container {
        grid-template-columns: auto;
    }
}

.card-item {
    padding: 1.5rem 0.5rem;
    border: solid thin #A5A5A5;
    border-radius: 1.2rem;
}

.card-item:hover .card-cart-details {
    display: flex;
}

.card-item:hover .card-details {
    display: none;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--el-middleblue);
    padding-bottom: 0.7rem;
}



.card-price {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4A4A4A;
    padding-bottom: 0.7rem;
}

.card-stars {
    margin-bottom: 1rem;
}

.card-stars span{
    padding-right: 0.5rem;
}

#star1, #star2, #star3, #star4, #star5 {
    width: auto;
}

.product-cards-signer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 3rem 0;
}





